
*.pyc

WEEK07/myvenv/Lib/site-packages/asgiref/

WEEK07/myvenv/Scripts/

WEEK07/myvenv/Lib/site-packages/tzdata/zoneinfo/US/

WEEK07/myvenv/Lib/site-packages/tzdata/zoneinfo/

WEEK07/myvenv/Lib/
*.cfg
